.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

/* Filter Section */
.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Product Grid Layout */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  transition: background-color 0.3s ease-in-out;
}

/* Product Card Wrapper */
.product-grid>* {
  background-color: var(--seashell);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: var(--evergreen);
  will-change: background-color, transform;
}

.product-grid>*:hover {
  transform: translateY(-5px);
}

.product-grid>*::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--softamber);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.product-grid>*:hover::before {
  opacity: 1;
}
/* Wrapper for the input to position the label */
.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  /* Adjust as needed */
}

/* Label Styling */
.input-label {
  position: absolute;
  top: -20px;
  /* Move label above the input */
  left: 10px;
  font-size: 12px;
  padding: 0 5px;
  transition: all 0.2s ease;
  pointer-events: none;
}


/* For smaller screens */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}