@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --seashell: #F3F0EB;
  --duskblue: #2b5f88;
  --evergreen: #0C4230;
  --goldenglow: #F5E1A3;
  --softamber: #D8C6BC;
  --heading-font: "Lora Medium", serif;
  --sub-heading-font: "Playfair Display Medium", serif;
  --body-font: "Roboto Light", sans-serif;
  --body-font-serif: "Bodoni MT Regular", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C4230;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--seashell);
  font-family: var(--body-font);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

h1 {
  font-family: var(--heading-font);
}

h2, h3, h4, h5, h6 {
  font-family: var(--sub-heading-font);
}

.content {
  flex: 1;
  margin-bottom: 20px;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--seashell) var(--duskblue);
}